html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', Helvetica;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Exo', Helvetica;
    padding-top: 0.25%;
    background-image: radial-gradient(circle, navy 20%, deepskyblue);
    color: white;
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 15.5vh;
    top: 0;
}

header p {
    font-size: 1.4vw;
    margin: 0.25% 0 0.5% 0;
}

h1 {
    text-transform: uppercase;
    margin: 0.75% 0 0 0;
    font-size: 3.5vh;
}

h2 {
    font-size: 1.75em;
}

hr {
    margin: 0.5em 0 0.5em 0;
}

p {
    font-size: 1.1em;
}

header a {
    font-family: 'Dosis', Helvetica;
    font-size: 2.25vh;
    color: rgb(128, 255, 0);
    text-decoration: none;
}

main {
    position: relative;
    top: 12vh;
}


.dot {
    font-size: 2.5vh;
    font-family: Helvetica;
    vertical-align: sub;
}

.section {
    margin: 0 3vw;
}

.section_title {
    padding-top: 2%;
    text-align: center;
    font-family: 'Exo', Helvetica;
    text-transform: uppercase;
}

.about_body {
    display: flex;
}

.personal_photo {
    width: 75%;
}

.about_left, .about_right {
    width: 50%;
}

.about_left {
    text-align: center;
}

.projects_container {
    display: flex;
    text-align: center;
}

.projects_container a {
    color: white;
    text-decoration: none;
}

.project {
    width: 40%;
    margin: 0 1%;
    background-color: rgb(50, 50, 50);
    padding-bottom: 3.5vh;
    border-radius: 25px;
    transition: background-color, 0.5s;
}

.project:hover {
    cursor: pointer;
    background-color: rgb(110, 140, 60);
}

.project_photo {
    height: 75%;
    width: 90%;
}

#projects ul {
    margin-top: 7.5%;
}

#projects ul li {
    margin-top: 2.5%;
}

.extracurricular_activity, .project_name {
    font-weight: bold;
    font-size: 1.1em;
}

.extracurricular_description, .project_description {
    margin-bottom: 3em;
}

.indent {
    text-indent: 2em;
}

.links {
    margin-top: 5%;
}

.link {
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2% 2% 0 2%;
    margin: 0 1%;
}

footer {
    position: relative;
    top: 200px;
}

#about, #projects, #contact {
    position: relative;
    height: 82.5vh;
}

#extracurriculars {
    position: relative;
    height: 85vh;
    color: white;
    text-shadow: black 0.5px 0.5px 1px,
                 black -0.5px 0.5px 1px,
                 black -0.5px -0.5px 1px,
                 black 0.5px -0.5px 1px;
}

#extracurriculars {
    background-image: url('assets/BC\ Children\'s\ 1.jpg');
    background-size: cover;
    margin: 0;
}

#about_anchor, #projects_anchor, #extracurriculars_anchor, #contact_anchor {
    display: block;
    position: relative;
    top: -18%;
    visibility: hidden;
}

#contact_title {
    padding-top: 0;
}

#copy_email_button {
    margin-left: 0.5%;
    padding: 0.25%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1em;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color, 0.5s;
}

#copy_email_button:hover {
    background-color: rgb(255, 230, 0);
}

#github_link {
    background-image: url('assets/github_icon.png');
}

#linkedin_link {
    background-image: url('assets/social-linkedin-circle-512.webp');
    background-size: contain;
}