html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Dosis', 'Open Sans', Arial;
    margin: 0;
    padding: 0;
}

header {
    margin-top: -1.6%;
    padding-top: 0.25%;
    background-color: lightblue;
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 17%;
}

h1 {
    margin-top: 5px;
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

p, a {
    font-size: 1.1em;
}

main {
    position: relative;
    top: 115px;
}

.section {
    margin: 0 3vw;
}

.section_title {
    padding: 2% 0;
    text-align: center;
}

.about_body {
    display: flex;
}

.personal_photo {
    width: 75%;
}

.about_left, .about_right {
    width: 50%;
}

footer {
    position: relative;
    top: 200px;
}

#about, #projects, #contact {
    position: relative;
    height: 81vh;
}

#extracurriculars {
    position: relative;
    height: 83.5vh;
}

#projects {
    margin-bottom: 0;
}

#extracurriculars {
    background-image: url('assets/BC\ Children\'s\ 1.jpg');
    background-size: cover;
    margin: 0;
}

#about_anchor, #projects_anchor, #extracurriculars_anchor, #contact_anchor {
    display: block;
    position: relative;
    top: -20%;
    visibility: hidden;
}

#contact_title {
    padding-top: 0;
}