html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', Helvetica;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Exo', Helvetica;
    margin-top: -1.6%;
    padding-top: 0.25%;
    background-color: navy;
    color: white;
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 17%;
}

header p {
    font-size: 1.25em;
    margin: 1% 0 0.5% 0;
}

h1 {
    text-transform: uppercase;
    margin: 5px 0 0 0;
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

hr {
    margin: 0.5em 0 0.5em 0;
}

p {
    font-size: 1.1em;
}

a {
    font-family: 'Dosis', Helvetica;
    font-size: 1.25em;
    /* color: yellowgreen; */
    color: rgb(128, 255, 0);
    text-decoration: none;
}

main {
    position: relative;
    top: 115px;
}

.dot {
    font-size: 1.75em;;
    font-family: Helvetica;
    vertical-align: sub;
    /* color: #000000; */
}

.section {
    margin: 0 3vw;
}

.section_title {
    padding-top: 2%;
    text-align: center;
    font-family: 'Exo', Helvetica;
    text-transform: uppercase;
}

.about_body {
    display: flex;
}

.personal_photo {
    width: 75%;
}

.about_left, .about_right {
    width: 50%;
}

.about_left {
    text-align: center;
}

.extracurricular_activity, .project_name {
    font-weight: bold;
    font-size: 1.1em;
}

.extracurricular_description, .project_description {
    margin-bottom: 3em;
}

.indent {
    text-indent: 2em;
}

.links {
    margin-top: 5%;
}

.link {
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2% 2% 0 2%;
    margin: 0 1%;
}

footer {
    position: relative;
    top: 200px;
}

#about, #projects, #contact {
    position: relative;
    height: 81vh;
}

#extracurriculars {
    position: relative;
    height: 83.5vh;
}

#extracurriculars {
    background-image: url('assets/BC\ Children\'s\ 1.jpg');
    background-size: cover;
    margin: 0;
}

#about_anchor, #projects_anchor, #extracurriculars_anchor, #contact_anchor {
    display: block;
    position: relative;
    top: -20%;
    visibility: hidden;
}

#contact_title {
    padding-top: 0;
}

#copy_email_button {
    margin-left: 0.5%;
    padding: 0.25%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1em;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color, 0.5s;
}

#copy_email_button:hover {
    background-color: rgb(255, 230, 0);
}

#github_link {
    background-image: url('assets/github_icon.png');
}

#linkedin_link {
    background-image: url('assets/social-linkedin-circle-512.webp');
    background-size: contain;
}